# Left half configuration
if SHIELD_SPLIT36_LEFT
    config SPLIT36
        default "Split36 Left"

    config SPLIT36_CENTRAL
        default y
endif

# Right half configuration
if SHIELD_SPLIT36_RIGHT
    config SPLIT36
        default "Split36 Right"

    config SPLIT36_CENTRAL
        default n
endif
if SHIELD_SPLIT36
    config ZMK_KEYBOARD_NAME
        default "Split36"
endif